.contact {
  text-align: center;

  &-img {
    width: 200Px;
    height: 200Px;
    border-radius: 50%;
  }

  &-word {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: #409eff;

    text {
      margin: 5Px;
    }
  }

  &-content {
    padding: 20px 46px;
    font-size: 14Px;
    text-align: left;
    color: #aaa;
  }

  &-button {
    display: block;
    padding: 10Px;
    width: 30%;
    margin: 0 auto;

    .at-button {
      margin: 20px;
    }
  }
}
