.index--fixed {
  overflow: hidden;
  height: 100vh;
}

/* 样式参考自https://www.cnblogs.com/wenruo/p/9732704.html*/
.random-button {
  padding: 10Px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14Px;
    margin: 10Px;

    &:last-child {
      margin-bottom: 0;
    }

    .at-icon {
      margin-right: 4Px;
    }
  }

  .button {
    &--primary {
      color: #409eff;
      background: #ecf5ff;
      border-color: #b3d8ff;
    }

    &--success {
      color: #67c23a;
      background: #f0f9eb;
      border-color: #c2e7b0;
    }

    &--warn {
      color: #F56C6C;
      background: #fef0f0;
      border-color: #fbc4c4;
    }
  }
}

.menu-list {
  text-align: center;
  font-size: 14Px;
  margin-top: 10Px;
  color: #409eff;

  &__text {
    display: inline-block;
    border-bottom: 1px solid #409eff;
  }
}

.tips {
  font-size: 12Px;
}

.wrapper {
  position: relative;
  height: 200Px;
  width: 200Px;
  padding: 20Px;
  background-color: #ff5555;
  box-shadow: #000000 0 0 5Px;
  border-radius: 50%;
  margin: 5Px auto;

}

.light {
  position: absolute;
  height: 10Px;
  width: 10Px;
  border-radius: 50%;
  top: 5Px;
  left: 115Px;
  transform-origin: 5Px 115Px;
}

.light-twinkling {
  animation: 1s twinkling 3, 100ms 3s twinkling 3;
}

.light:nth-child(2n) {
  background-color: #fafce7;
}

.light:nth-child(2n+1) {
  background-color: #ffe58b;
}


.panel {
  position: relative;
  height: 200Px;
  width: 200Px;
  background-color: #f7c894;
  border-radius: 100Px;
}


.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.fan-blade {
  position: absolute;
  width: 100px;
  text-align: center;
  box-sizing: border-box;
  padding: 5Px 15Px;
  display: block;
  height: 50%;
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  transform-origin: 50% 100%;
}

.fan-blade text {
  display: block;
  font-size: 14Px;
  color: #d46854;
}


.fan-blade:nth-child(2n+1) {
  background: #fef6e0;
}

.fan-blade:nth-child(2n) {
  background: #ffffff;
}

.pointer-trans {
  transition: transform 3s cubic-bezier(.2, .93, .43, 1);
}

.pointer {
  position: absolute;
  left: 79Px;
  top: 79Px;
  z-index: 10;
  height: 30Px;
  width: 30Px;
  padding: 6Px;
  color: #fff899;
  line-height: 15Px;
  font-size: 12Px;
  text-align: center;
  background-color: #ff5350;
  border-radius: 50%;
  border: 1Px solid #ff5350;
}

.pointer::after {
  content: '';
  position: absolute;
  left: 14Px;
  top: -24Px;
  border-width: 12Px 6Px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #ff5350;
  transform-origin: center;
}

.button {
  cursor: pointer;
  padding: 5Px;
  margin: 20Px auto;
  max-width: 100Px;
  background-color: #d46854;
  color: #fff;
  text-align: center;
  border-radius: 4Px;
}

.result {
  height: 30Px;
  line-height: 30Px;
  text-align: center;
  /*margin: 20Px 60Px;*/
  padding-bottom: 5Px;
  margin: 0 auto;

}

.content-title {
  font-weight: 600;
  margin-bottom: 10Px;
}

.popBox-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;

  button {
    padding: 0 20px;
    display: flex;
  }
}

.popBox-list__text {
  text-align: left;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.at-textarea__textarea {
  font-size: 14Px;
}

.type-list {
  display: flex;
  justify-content: center;
  padding: 0 20Px;
  flex-wrap: wrap;

  button {
    display: flex;
    align-items: center;
  }

  .at-button--small {
    height: auto;
    font-size: 12Px;
    margin: 5Px;
  }
}

.at-noticebar {
  background: transparent;
  color: #aaa;
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12Px;
  color: #aaa;
  padding-bottom: 30px;
}

@keyframes twinkling {
  50% {
    background: transparent;
  }
}
